
/* Color Palate */
:root {
  --primary-color: #00A9CF;
  --secondary-color: #cf00a9;
  --tertiary-color: #00cf8e;
  --quaternary-color: #cf2600;
  --quinary-color: #a9cf00;
  --senary-color: #0042cf;

  --background-color: #eeeeee;
  --border-color: #cccccc;
}

.dashboard {
  display: grid;
  grid-template-columns: 2fr 1fr; /* 2/3 and 1/3 column layout */
  grid-template-areas:
    "graph filter"
    "graph cluster"
    "explanation cluster"
    "explanation suspicious";
  grid-gap: 20px;
  padding: 20px;
}

.graph-box { grid-area: graph; }
.explanation-box { grid-area: explanation; }
.filter-box { grid-area: filter; }
.cluster-map-box { grid-area: cluster; }
.suspicious-activity-box { grid-area: suspicious; }

/* Basic styling for each component */
.graph-box, .selection-box, .explanation-box, .filter-box, .save-box, .cluster-map-box, .suspicious-activity-box {
  border: 1px solid var(--border-color);
  padding: 10px;
  background-color: var(--background-color);
}

.header {
  color: var(--primary-color);
}

#dashboard-header {
  text-align: center;
}
